@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    font-family: "Roboto", sans-serif;
}

.playfair {
    font-family: "Playfair Display", serif;
}

.bg-skew:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transform: skewY(-5deg);
    transform-origin: top left;
    z-index: -1;
    background-color: #ececec;
    min-height: 600px;
}

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }
  .font-roboto {
    font-family: var(--font-roboto);
  }
}
